.header
    +clearfix()
    +fixed($left: 0, $right: 0)
    z-index: 99
    padding: 30px 0 15px
    transition: all .2s ease-out

    &.is-active
        padding-top: 18px
        background-color: #010101

        .menu,
        .header-setting
            top: 31px

    $absolute-top: 43px
    $absolute-side: 25px

    &__info
        &:hover
            [class*=icon]
                color: #bea67c

    &-setting
        +absolute($right: $absolute-side, $top: $absolute-top)

        [class*='icon']
            float: left
            margin-right: 40px
            color: rgba(255, 255, 255, .5)
            font-size: 24px

    .menu
        +absolute($top: $absolute-top, $left: $absolute-side)

    &-settings,
    .menu
        transition: all .2s ease-out

    .container
        padding-left: 350px

        @media #{$L}
            padding-left: 250px

    .logo
        float: left

    .nav
        float: left
        margin-left: 100px

        @media #{$L}
            display: none

    .select-group
        float: left
        width: 60px
