header.header
    div.container
        
        div.menu
            div.hamburger(id="menu-button")
                span
                span
                span
                span
                    
            div.menu__list
                    a.menu__item.home-anchor(href="#") Home
                    a.menu__item.product-anchor(href="#") Products
                    a.menu__item.about-anchor(href="#") About
        a.logo(href="#").
            W#[span oo]der
                
        nav.nav
            a.nav__item.home-anchor(href="#") Home
            a.nav__item.product-anchor(href="#") Products
            a.nav__item.about-anchor(href="#") About

        div.header-setting
            a.header__info(href="#")
                i.icon-info
            select.custom-select(id='language')
                option En
                option Ru
