.header
    +clearfix()
    +fixed(0,$left: 0, $right: 0)
    z-index: 99
    padding: 30px 0 15px
    transition: all .2s ease-out

    &.is-active
        min-height: 70px
        padding-top: 18px
        background-color: #010101

        .menu,
        .header-setting
            top: 31px

    $absolute-top: 43px
    $absolute-side: 25px

    &__info
        float: left
        margin-top: -2px

        @media #{$XS}
            display: none

        [class*='icon']
            margin-right: 40px
            color: rgba(255, 255, 255, .5)
            font-size: 24px

        &:hover
            [class*=icon]
                color: #bea67c

    &-setting
        +absolute($right: $absolute-side, $top: $absolute-top)

    .menu
        +absolute($top: $absolute-top, $left: $absolute-side)

    &-setting,
    .menu
        transition: all .2s ease-out

        @media #{$XS}
            top: 31px

    .container
        padding-left: 365px

        @media #{$L}
            padding-left: 265px

        @media #{$M}
            padding-left: 185px
    .logo
        float: left

        @media #{$S}
            margin-top: 10px
            font-size: 22px

        @media #{$XS}
            display: none

    .nav
        float: left
        margin-left: 100px

        @media #{$L}
            display: none

    .select-group
        float: left
        width: 60px

        .select-options
            li
                text-shadow: -1px 0px 2px black, 0px 0px 1em #bea67c
