section.product
    
    div.container
    
        p.product__letter d
        
        p.product__num
            span .
        
        div.common-paragraph
            h2.common-paragraph__title Decor
            
            p.common-paragraph__text.
                We make all types of wooden decor as per design given by Architect,Interior designer, contractor which is suitable your premises. 
            
            a.decor-link Learn more
            
        div.product-img
            img(src='images/decor.jpg')
                
        p.product__name Decor
            
