section.product.m-decor.m-reverse
    
    div.container
    
        p.product__letter=decor.letter
        
        p.product__num
            span .
        
        div.common-paragraph
            h2.common-paragraph__title=decor.title
            
            p.common-paragraph__text=decor.text
            
            a.decor-link=page.button
            
        div.product-img(data-decor="Decor")
            img(src="images/decor.jpg", alt="decoration image")
