section.product.m-furniture
    
    div.container
    
        p.product__letter=furniture.letter
        
        p.product__num
            span .
        
        div.common-paragraph
            h2.common-paragraph__title=furniture.title
            
            p.common-paragraph__text=furniture.text
            
            a.decor-link=page.button
            
        div.product-img(data-decor="Furniture")
            img(src="images/furniture.jpg", alt="furniture image")
