section.product
    
    div.container
    
        p.product__letter f
        
        p.product__num
            span .
        
        div.common-paragraph
            h2.common-paragraph__title Furniture
            
            p.common-paragraph__text.
                Wooder utilizes materials otherwise left behind, rendered useless in their original intent. By creating new pieces made of reclaimed barnwood
            
            a.decor-link Learn more
            
        div.product-img
            img(src='images/furniture.jpg')
                
        p.product__name Furniture
            
