.product
    position: relative
    padding: 90px 0 187px
    +clearfix()

    @media #{$M}
        padding-top: 0
        padding-bottom: 0

    &:first-child

        .container
            &::before
                content: ''
                +absolute($top: -117px, $right: 0)
                height: 50px
                width: 4px
                background-color: #bea67c

                @media #{$L}
                    display: none

    &.m-reverse
        .common-paragraph,
        .product-img
            float: right

        .product-img
            @media #{$M}
                float: left

            &::before
                right: initial
                left: 0
                transform: translate(-50%,-50%)

        .common-paragraph
            padding-right: 181px
            padding-left: 48px
            text-align: right

            @media #{$L}
                padding-right: 81px

            @media #{$XS}
                padding-right: 0
                padding-left: 0

            .decor-link
                margin-left: 0
                margin-right: 101px

        .common-paragraph__title
            margin-left: 0
            margin-right: 101px

            @media #{$XS}
                margin-right: 75px

        .common-paragraph__text
            margin-left: 0
            margin-right: 101px

            @media #{$XS}
                margin-right: 75px

        .product__name
            +absolute($top: 90px, $right: 200%)

            &.scroll-active
                right: calc(100% - 363px)

        .product__letter
            +absolute($top: 0, $right: 0)
            transform: translate(200%, -356px)

            &.scroll-active
                transform: translate(0, -356px)

        .product__num
            +absolute($top: calc(100% - 30px), $right: 15px)

        .common-paragraph__title::before,
        .common-paragraph__text::before
            right: initial
            left: calc(100% + 29px)

            @media #{$XS}
                left: calc(100% + 15px)

    &__letter
        +absolute($top: 0, $left: 0)
        transform: translate(-200%, -356px)
        color: #bea67c
        opacity: 0.07
        font-size: 396px
        font-weight: 700
        text-transform: uppercase
        transition: all .6s linear

        @media #{$M}
            display: none

        &.scroll-active
            transform: translate(0, -356px)

    &__num
        +absolute($left: 15px, $top: calc(100% - 30px))
        height: 180px
        font-weight: 700
        font-size: 36px
        text-transform: uppercase
        color: #000000

        @media #{$S}
            top: calc(100%)
            transform: translateY(-100%)

        @media #{$XS}
            display: none

        &::before
            counter-increment: section
            content: '0' counter(section)

        &::after
            content: ''
            +absolute($left: calc(50% - 2px), $bottom: 0)
            width: 4px
            height: 51px
            background-color: #a9946e


        span
            color: #bea67c

    &__name
        +absolute($top: 90px, $left: 200%)
        font-size: 169px
        font-weight: 700
        text-transform: uppercase
        opacity: 0.2
        color: #d0d0d0
        transition: all 1s linear

        &.scroll-active
            left: calc(100% - 363px)

    &-img
        position: relative
        float: left
        width: 50%
        max-width: 616px
        box-shadow: 0 0 16px 4px rgba(0, 0, 0, .25)

        @media #{$M}
            margin-top: 50px
            float: right

        @media #{$S}
            max-width: 100%
            width: calc(100% - 140px)

        @media #{$XS}
            width: 100%

        &:before
            content: attr(data-decor)
            +absolute(50%, $right: 0)
            transform: translate(50%, -50%)
            font-size: 169px
            font-weight: bold
            opacity: .2
            color: #d0d0d0
            transition: all 1s linear

            @media #{$M}
                transform: translate(65%, -50%)

            @media #{$XS}
                display: none

    .common-paragraph
        width: 50%
        float: left
        padding: 115px 48px 0 181px

        @media #{$L}
            padding-left: 81px

        @media #{$M}
            width: 100%
            padding-top: 65px

        @media #{$S}
            padding-top: 55px

        @media #{$XS}
            padding-left: 0
            padding-right: 0

        .decor-link
            margin-left: 101px

    .container
        position: relative
