section.about
    .container
        
        .product.m-reverse
            
            p.product__letter A
            
            .common-paragraph
                h2.common-paragraph__title About us
                
                p.common-paragraph__text.
                    We are a team of professionals in the wood processing and the creation of wooden furniture of the highest class
                
                a.decor-link Learn more
        
            .product-img(data-decor="About")
                img(src="images/about.jpg", alt="official men")
