section.about
    .container
        
        div.product-img
            img(src="images/about.jpg", alt="official men")
                
        p.product__name About
        
        p.product__letter A
        
        div.common-paragraph
            h2.common-paragraph__title About us
            
            p.common-paragraph__text.
                We are a team of professionals in the wood processing and the creation of wooden furniture of the highest class 
            
            a.decor-link Learn more
