section.about
    .container
        
        .product.m-reverse
            
            p.product__letter=about.letter
            
            .common-paragraph
                h2.common-paragraph__title=about.title
                
                p.common-paragraph__text=about.text
                
                a.decor-link=page.button
        
            .product-img(data-decor="About")
                img(src="images/about.jpg", alt="official men")
