head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title WOODER
    <!-- inject-style src="dev/bundle/style/first.min.css" -->
    //- link(rel="stylesheet", href="style/first.min.css", type="text/css", inline)
