section.hero
    
    div.container

        div.hero-content
            div.hero__aside
                p.hero__num 01
                
                div.hero-nav
                    span.simple-button.hero-nav__item.is-active
                    span.simple-button.hero-nav__item
                    span.simple-button.hero-nav__item
                    span.simple-button.hero-nav__item
            
            h1.common-title.m-light Wooder

            button.button.hero__button Learn more

            button.hero-next(id="next-section")
                i.icon-mouse
                i.icon-arrow-down2
                    
            p.hero__dscr Furniture & decor

    div.share
        button.simple-button.share__button
            i.icon-share
            
        ul.share__list
            li.share-item
                a.icon-instagram(href='#')
                    
            li.share-item
                a.icon-twitter(href='#')
                    
            li.share-item
                a.icon-facebook(href='#')
                    
            li.share-item
                a.icon-vimeo(href='#')
