div.hero

    include ../../basis/header/header.pug
    
    div.container

        div.hero-content
            div.hero__aside
                p.hero__num 01
                
                div.hero-nav
                    a.hero-nav__item.is-active(href='#')
                    a.hero-nav__item(href='#')
                    a.hero-nav__item(href='#')
                    a.hero-nav__item(href='#')
            
            h1.common-title.m-light Wooder

            button.button.hero__button Learn more

            p.hero-next
                i.icon-mouse
                i.icon-arrow-down2
                    
            p.hero__dscr Furniture & decor

    div.share
        button.simple-button.share__button
            i.icon-share
            
        ul.share__list
            li.share-item
                a.icon-instagram(href='#')
                    
            li.share-item
                a.icon-twitter(href='#')
                    
            li.share-item
                a.icon-facebook(href='#')
                    
            li.share-item
                a.icon-vimeo(href='#')
