section.hero
    
    div.container

        div.hero-content
            div.hero__aside
                p.hero__num=hero.num
                
                div.hero-decor
                    span.simple-button.hero-decor__item.is-active
                    span.simple-button.hero-decor__item
                    span.simple-button.hero-decor__item
                    span.simple-button.hero-decor__item
            
            h1.common-title.m-light=hero.title

            button.button.hero__button=page.button

            button.hero-next(id="next-section")
                i.icon-mouse
                i.icon-arrow-down2
                    
            p.hero__dscr=hero.dscr

    div.share
        button.simple-button.share__button
            i.icon-share
            
        ul.share__list
            li.share-item
                a.icon-instagram(href='#')
                    
            li.share-item
                a.icon-twitter(href='#')
                    
            li.share-item
                a.icon-facebook(href='#')
                    
            li.share-item
                a.icon-vimeo(href='#')
