section.video
    
    .container
        
        p.product__letter V
        
        div.common-paragraph
            h2.common-paragraph__title we Do the design of any complexity
            
            p.common-paragraph__text.
                This is a team of professionals that make the furniture and wood décor high standard. Creating modern designs. Adhering to the global quality standards. And we are doing work with love. 
            
            button.button.button-icon #[i.icon-play-circle] watch video
