.video
    padding: 90px 0
    background: url('../images/video.jpg') no-repeat
    background-size: cover

    @media #{$S}
        padding-top: 60px
        padding-bottom: 60px

    @media #{$XS}
        padding: 40px 0

    &-content
        position: relative
        padding: 216px 0 183px 210px
        border: 1px solid #bea67c

        @media #{$L}
            padding-left: 110px

        @media #{$M}
            padding-top: 100px
            padding-bottom: 120px
            padding-left: 10px

        @media #{$S}
            padding-right: 40px

        @media #{$XS}
            padding-top: 35px
            padding-bottom: 35px
            padding-right: 10px

        &::before
            content: ''
            +size(1px, 151px)
            +absolute($top: 50%, $right: 101px)
            background: #fff
            transform: translate(0, -50%)

            @media #{$L}
                right: 70px

            @media #{$S}
                display: none

    .common-paragraph__title
        max-width: 520px
        color: #bea67c

        &::before
            background-color: #fff

    .common-paragraph__text
        max-width: 430px
        color: #fff

    .product__letter
        left: initial
        right: 0
        transform: translate(0,-280px);
        z-index: -9

    .button
        margin: 44px 0 0 101px

        @media #{$XS}
            display: block
            margin-left: auto
            margin-right: auto

        [class*='icon-']
            display: inline-block
            margin-right: 10px
            font-size: 24px

    .common-paragraph
        @media #{$S}
            padding-left: 50px

        @media #{$XS}
            padding-left: 0
