section.video
    
    .container
        
        .video-content
        
            p.product__letter=video.letter
            
            div.common-paragraph
                h2.common-paragraph__title=video.title
                
                p.common-paragraph__text=video.text
                
                button.button.button-icon #[i.icon-play-circle] watch video
