doctype html
html
    include ../basis/head/head.pug
    body
        
        include ../basis/header/header.pug
        
        include ../blocks/hero/hero.pug
        
        div.products

            include ../blocks/product/furniture.pug
            
            include ../blocks/product/decor.pug
            
        include ../blocks/quality/quality.pug
        
        include ../blocks/video/video.pug
        
        include ../blocks/about/about.pug
        
        include ../basis/footer/footer.pug
        
