footer.footer
    
    .container
        
        a.logo.footer-logo(href="#").
            W#[span oo]der
        
        p.copyright &#169; 2016 Wooder

        p.footer__author Designed by #[span Viacheslav Olianishyn]
        
    
script(src="https://code.jquery.com/jquery-3.2.1.min.js", integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=", crossorigin="anonymous")
script(src="js/script.min.js")
