footer.footer
    
    .container
        
        a.logo.footer-logo(href="#").
            W#[span oo]der
        
        p.copyright &#169; 2016 Wooder

        p.footer__author Designed by #[span Viacheslav Olianishyn]
