section.quality
    
    .container
        
        h2.common-paragraph__title=quality.title
            
        p.common-paragraph__text=quality.text
            
        .quality-list
            each item in quality.list
                .quality-item
                    .quality__img-box
                        .quality__img
                            img(src = item.imgUrl, alt= item.altText)
                    
                    p.quality__name=item.title
                    
                    a.quality__link(href='#')=item.title
            
                
